 @inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

 @model List<ResultCategoryDto> 

            <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                <div class="navbar-nav w-100">
                     @foreach (var item in Model)
                    {
                        
                        <a href="/ProductList/Index/@item.CategoryID" class="nav-item nav-link">@localizer[@item.CategoryName]</a>
                    }
                </div>
            </nav>
       