<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<aside class="main-sidebar" style="background-color: #2c3e50;">
    <section class="sidebar">
        <div class="user-panel" style="background-color: #34495e;">
            <div class="pull-left image">
                <img src="https://img.freepik.com/free-vector/young-man-workplace_24877-52694.jpg?t=st=1709037229~exp=1709040829~hmac=5a8212a0aafb4f4665b0af6bc85f732d52ef8391f1a5fc3d4f6089429242c292&w=1060" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p style="color: white;">MultiShop Admin</p>
                <a href="#"><i class="fa fa-circle" style="color: #1abc9c;"></i> <span style="color: white;">Çevrimiçi</span></a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header" style="background-color: #1abc9c; color: white;">Menü</li>
            <li><a href="https://fontawesome.com/v4/icons/" style="color: white;"> <i class="fa fa-certificate" style="color: white;"></i><span>Font Awesome</span></a></li>
            <li><a href="/Admin/Category/Index/" style="color: white;"> <i class="fa fa-th" style="color: white;"></i><span>Kategoriler</span></a></li>
            <li><a href="/Admin/Product/ProductListWithCategory/" style="color: white;"> <i class="fa fa-car" style="color: white;"></i><span>Ürünler</span></a></li>
            <li><a href="/Default/Index/" style="color: white;"> <i class="fa fa-motorcycle" style="color: white;"></i><span>Siteye Git</span></a></li>
            <li><a href="/Admin/SpecialOffer/Index/" style="color: white;"> <i class="fa fa-cubes" style="color: white;"></i><span>Özel Teklifler</span></a></li>
            <li><a href="/Admin/FeatureSlider/Index/" style="color: white;"> <i class="fa fa-picture-o" style="color: white;"></i><span>Slider Paneli</span></a></li>
            <li><a href="/Admin/Feature/Index/" style="color: white;"> <i class="fa fa-anchor" style="color: white;"></i><span>Öne Çıkan Alan Paneli</span></a></li>
            <li><a href="/Admin/OfferDiscount/Index/" style="color: white;"> <i class="fa fa-coffee" style="color: white;"></i><span>İndirim Teklifleri</span></a></li>
            <li><a href="/Admin/Brand/Index/" style="color: white;"> <i class="fa fa-university" style="color: white;"></i><span>Markalar</span></a></li>
            <li><a href="/Admin/About/Index/" style="color: white;"> <i class="fa fa-info" style="color: white;"></i><span>Hakkımda</span></a></li>
            <li><a href="/Admin/Comment/Index/" style="color: white;"> <i class="fa fa-comment" style="color: white;"></i><span>Yorumlar</span></a></li>
            <li><a href="/Admin/User/UserList/" style="color: white;"> <i class="fa fa-users" style="color: white;"></i><span>Kullanıcı Listesi</span></a></li>
            <li><a href="/Admin/Order/Index/" style="color: white;"> <i class="fa fa-shopping-basket" style="color: white;"></i><span>Sipariş Listesi</span></a></li>
            <li><a href="/Admin/Comment/Index/" style="color: white;"> <i class="fa fa-money" style="color: white;"></i><span>Kasa Bilgileri</span></a></li>
            <li><a href="/Admin/Statistic/Index/" style="color: white;"> <i class="fa fa-pie-chart" style="color: white;"></i><span>İstatistikler</span></a></li>
            <li><a href="/Admin/Cargo/CargoCompanyList/" style="color: white;"> <i class="fa fa-bus" style="color: white;"></i><span>Kargo</span></a></li>
            <li><a href="/Admin/Comment/Index/" style="color: white;"> <i class="fa fa-balance-scale" style="color: white;"></i><span>İndirimler</span></a></li>
            <li><a href="/Admin/ImageUpload/Index/" style="color: white;"> <i class="fa fa-picture-o" style="color: white;"></i><span>Görseller</span></a></li>
            <li><a href="/Admin/Message/Index/" style="color: white;"> <i class="fa fa-paper-plane" style="color: white;"></i><span>Mesajlar</span></a></li>
            <li><a href="/Admin/Setting/Index/" style="color: white;"> <i class="fa fa-snowflake-o" style="color: white;"></i><span>Ayarlar</span></a></li>
            <li><a href="/Admin/Login/SignOut/" style="color: white;"> <i class="fa fa-window-close-o" style="color: white;"></i><span>Çıkış Yap</span></a></li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
