
@{
    ViewData["Title"] = "Exchange";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /> <br />
    <h3 class="alert alert-danger">Dolar Alış :@ViewBag.exchangeRate </h3>
    <h3 class="alert alert-dark">Dolar Satıs :@ViewBag.previousClose </h3>

    <br /> <br />

    <h3 class="alert alert-danger">Euro Alış :@ViewBag.exchangeRateEuro </h3>
    <h3 class="alert alert-dark">Euro Satıs :@ViewBag.previousCloseEuro </h3>
</div>


